.treap-navbar {
    padding: 10px 0;
    background-color: #1e94d2;
}

.treap-navbar-toggle {
    color: #ffffff;
}

.treap-mainmenu-top {
    padding: 15px 10px;
    font-weight: bold;
    border-bottom: 1px solid #525151;
}
