<div class="treap-container">
    <div class="ui-g treap-form">
        <div class="ui-g-12">
            <h1>Lançamentos</h1>
        </div>

        <div class="ui-g-12 ui-fluid">
            <label for="descricaoFiltro">Descrição</label>
            <input id="descricaoFiltro" pInputText type="text">
        </div>

        <div class="ui-g-12">
            <label>Vencimento</label>
            <input pInputText type="text" style="width: 95px">

            <label class="treap-inline"> até </label>
            <input pInputText type="text" style="width: 95px">
        </div>

        <div class="ui-g-12">
            <button pButton type="submit" label="Pesquisar"></button>
        </div>
    </div>

    <div class="ui-g">
        <div class="ui-g-12">
            <p-table [value]="lancamentos" [value]="lancamentos" [paginator]="true" [rows]="2">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Pessoa</th>
                        <th>Descricao</th>
                        <th class="treap-col-data-header">Vencimento</th>
                        <th class="treap-col-data-header">Pagamento</th>
                        <th class="treap-col-valor-header">Valor</th>
                        <th class="treap-col-acoes-header">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-lancamento>
                    <tr>
                        <td>{{lancamento.pessoa}}</td>
                        <td>{{lancamento.descricao}}</td>
                        <td class="treap-col-data-content">{{lancamento.dataVencimento}}</td>
                        <td class="treap-col-data-content">{{lancamento.dataPagamento}}</td>
                        <td class="treap-col-valor-content" [ngStyle]="{ color: lancamento.tipo === 'DESPESA' ? 'red' : 'blue'}">{{lancamento.valor}}</td>
                        <td class="treap-col-acoes-content">
                            <a pButton icon="pi pi-pencil" tooltipPosition="top" pTooltip="Editar"></a>&nbsp;
                            <button pButton icon="pi pi-trash" tooltipPosition="top" pTooltip="Excluir"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
