/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
    color: #404c51;
}

.treap-label,
.treap-form label {
    font-weight: bold;
    display: block;
}

.treap-label,
.treap-form label.treap-inline {
    font-weight: bold;
    display: inline;
}

@media (min-width: 1200px) {
    .treap-container {
        width: 1170px;
        margin: 0 auto;
    }
}

.treap-sidebar {
    font-weight: bold;
}

.treap-sidebar .ui-sidebar {
    padding: 0;
    overflow: auto;
}

.treap-mainmenu .ui-panelmenu-header {
    display: none;
}

.treap-mainmenu .ui-panelmenu .ui-panelmenu-content {
    border: 0;
}

.treap-sidebar .ui-sidebar-close {
    display: none;
}

.treap-col-valor-header {
    width: 120px;
}

.treap-col-data-header {
    width: 120px;
}

.treap-col-valor-content {
    text-align: right;
}

.treap-col-data-content {
    text-align: center;
}

.treap-col-acoes-header {
    text-align: center;
    width: 90px;
}

.treap-col-acoes-content {
    white-space: nowrap;
}

body button.ui-button {
    margin-right: .5em;
}

/* Botao INFO - INICIO */
body button.ui-button.ui-state-default.ui-button-info {
    /* Normal */
    border-color: #57B6DE;
    background-color: #57B6DE;    
}
body button.ui-button.ui-state-default.ui-button-info:enabled:hover,
body button.ui-button.ui-state-default.ui-button-info:enabled:focus {
    /* Com foco ou sob o mouse */
    border-color: #389AC3;
    background-color: #389AC3;    
}
body button.ui-button.ui-state-default.ui-button-info:enabled:active {
    /* Clicado */
    border-color: #1A7EA8;
    background-color: #1A7EA8;    
}
/* Botao INFO - FIM */