<p-table [value]="pessoas" [rows]="5" [paginator]="true" [responsive]="true">
  <ng-template let-pessoa pTemplate="header">
    <tr>
      <th> Nome </th>
      <th> Cidade </th>
      <th style="width: 80px"> UF </th>
      <th style="width: 90px"> Status </th>
      <th class="treap-col-acoes-header">Ações</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-pessoa>
    <tr>
      <td>{{pessoa.nome}}</td>
      <td>{{pessoa.cidade}}</td>
      <td style="text-align: center">{{pessoa.estado}}</td>
      <td style="text-align: center">
        <a href="javascript:;" [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'" tooltipPosition="top">
          {{pessoa.ativo ? 'Ativo' : 'Inativo'}}
        </a>
      </td>
      <td class="treap-col-acoes-content">
        <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>&nbsp;
        <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
      </td>
    </tr>
  </ng-template>

</p-table>
